<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.welter.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="asia.welter.entity.po.Users">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="qqOpenId" column="qq_open_id" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="useSpace" column="use_space" jdbcType="BIGINT"/>
            <result property="totalSpace" column="total_space" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,nick_name,email,
        qq_open_id,avatar,password,
        create_time,last_login_time,status,
        use_space,total_space
    </sql>

    <update id="updateUserSpace">
        update users
        <set>
            <if test="useSpace != null">
                use_space = use_space + #{useSpace},
            </if>
            <if test="totalSpace != null">
                total_space = total_space + #{totalSpace},
            </if>
        </set>
        where user_id = #{userId}
        <if test="useSpace != null">
            <![CDATA[ and (use_space + #{useSpace}) <= total_space ]]>
        </if>
        <if test="totalSpace != null">
            <![CDATA[ and (total_space + #{totalSpace}) >= use_space ]]>
        </if>
    </update>
</mapper>
